{% extends "base.html" %}
{% load static %}
{% block content %}
{% for ingredient in ingredients %}
    <input type="hidden" id="qtd_input_{{ingredient.id}}" value="{{ingredient.value}}">
{% endfor %}
<div class="container"  id="snacks_list">
    <div class="card">
        <div class="card-body">
            <form id="form-add-car" method="POST" action="/snacks/more/{{snack.id}}/">
            <h3 class="card-title text-center">{{snack.name_snack}} </h3>
            <input type="hidden" value="{{snack.id}}" name="input_id">
            <input type="hidden" value="{{snack.name_snack}}" name="input_name">
            <input type="hidden" value="{{snack.snack_img}}" name="input_img">
            {% for ingredient in snack.ingredients_list%}
                <div class="form-group">
                    <label>{{ingredient.name}}</label>
                    <div class="input-group">
                        <input id="input_{{ingredient.id}}"
                            name="input_{{ingredient.id}}"
                            type="number" 
                            value="{{ingredient.amount}}"
                            min="0" 
                            class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" onclick="inputValues('input_{{ingredient.id}}', 0)">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success"  onclick="inputValues('input_{{ingredient.id}}', 1)">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h3 class="card-title text-right" id="value">Valor: </h3>
            <button type="button" onclick="sendForm('form-add-car')" class="btn btn-primary block">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                     Carrinho 
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
            </form>

        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        productValue();
    });
</script>
{% endblock content%}