<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PyBurger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/myfile.js' %}"></script>
    <link rel="icon" href="{% static 'img/lanche_icon.jpg'%}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<nav id="navbar_header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/snacks/"><img src="{% static 'img/logo.jpg' %}" alt="Logo" class="rounded img_logo" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li {%if request.path == '/snacks/' or '/snacks/more/' in request.path %}class="nav-item active" {% else %} class="nav-item" {%endif%} >
                <a  class="nav-link" href="/snacks/"> Lanches </a>
          </li>
          <li {%if request.path == '/promotions/' %} class="nav-item active" {%else%} class="nav-link" {% endif %} >
            <a  class="nav-link"  href="/promotions/">Promoções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrinho </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/snacks/ingredients/"><i class="fa fa-cutlery" aria-hidden="true"></i> Ingredientes </a>
           </li>
        </ul>
      </div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>