{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" id="snacks_list">
    <div class="col-md-12 col-lg-12 col-xs-12" id="snack_card">
        <div class="jumbotron">
            <div class="card">
                <h3 class="card-header text-white no-margin text-center" id="card_header"> Lanches adicionados no carrinho </h3>
                <div class="card-body">
                    <div class="row">
                        {% for snack in sopping_cart %}
                        <div class="col-md-3 col-xs-12" id="snack_card">
                            <div class="card">
                                <h3 class="card-header text-white no-margin" id="card_header"> {{snack.name_snack}} <b class="text-left">R$: {{snack.price|floatformat:2 }}</b>  </h3>
                                <div class="card-block">
                                {% with 'img/'|add:snack.img_snack as image_static %}   
                                    <img class="card-img-top" src="{% static image_static %}" id="img_snack" alt="Card image cap" />
                                {% endwith %}
                                </div>
                                <div class="card-body" id="shopCardBody">
                                    {%if snack.amount_lettuce > 0%} <p> {{ snack.amount_lettuce }} - Alface</p>{% endif %}
                                    {%if snack.amount_bacon > 0%} <p> {{ snack.amount_bacon }} - Bacon</p>{% endif %}
                                    {%if snack.amount_burger > 0%} <p> {{snack.amount_burger }} - Hambúrguer de carne</p>{% endif %}
                                    {%if snack.amount_egg > 0%} <p> {{snack.amount_egg }} - Ovo</p> {% endif %}
                                    {%if snack.amount_cheese > 0%} <p>  {{snack.amount_cheese }} - Queijo</p> {% endif %}
                                </div>
                                <div class="card-footer bg-info text-white">
                                    <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <button type="button" onclick="excludeSnack('{{snack.id}}')"class="btn btn-danger block">
                                            <i class="fa fa-trash" aria-hidden="true"></i> 
                                            Excluir
                                        </button>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <button onclick="buySnack('{{snack.id}}')" type="button" class="btn btn-success block">
                                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>  
                                            <i class="fa fa-money" aria-hidden="true"></i> 
                                            Comprar 
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function buySnack(snackId){
        swal({title: "Atenção",text:"Deseja realmente comprar este lanche?", icon: "warning", button: true})
            .then((value) => { if(value){ 
                let data = JSON.stringify({'id':snackId})
                send_json_ajax("POST",  "/buysnack/", data, successBuySnack)
            }}); 
    }
    function excludeSnack(snackId){
        swal({title: "Atenção",text:"Deseja realmente excluir este lanche?", icon: "warning", button: true})
            .then((value) => { if(value){ 
                send_json_ajax("POST", "/excludesnack/",JSON.stringify({'id':snackId}), successExcludeSnack);
            }}); 
    }
    function successExcludeSnack(response){
        if(response){
            location.reload();
        }else{
            sweetalerts("Ops!", "Falha ao excluir lanche do carrinho!", "warning", false);
        }
    }
    function successBuySnack(response){
        if(response){
            swal({title: "Sucesso",text:"Lanche comprado com sucesso!", icon: "success", button: true})
            .then((value) => { 
                location.reload();
            });
        }else{
            sweetalerts("Ops!", "Falha ao excluir lanche do carrinho!", "warning", false);
        }
    }
</script>

{% endblock content %}