{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid" id="snacks_list">
    <div class="col-md-12 col-lg-12 col-xs-12" id="snack_card">
        <div class="jumbotron">
            <div class="card">
                <h3 class="card-header text-white no-margin text-center" id="card_header"> Lanches comprados </h3>
                <div class="card-body">
                    <div class="row">
                    {% for snack in snacks %}
                        <div class="col-md-3 col-xs-12" id="snack_card">
                            <div class="card">
                                <h3 class="card-header text-white no-margin" id="card_header"> {{snack.name_snack}} <b class="text-left">R$: {{snack.price|floatformat:2 }}</b>  </h3>

                                <div class="card-block">
                                {% with 'img/'|add:snack.snack_img as image_static %}   
                                    <img class="card-img-top" src="{% static image_static %}" id="img_snack" alt="Card image cap" />
                                {% endwith %}
                                </div>
                                <p class="card-body">Este lanche contém: (
                                    {% for ingredient in snack.ingredients_list %}
                                    {% if ingredient.amount > 0 %}
                                        <input type="hidden" class="ingredients_{{snack.id}}" value="{{ingredient.name}}">
                                        {% if forloop.last %}
                                        {{ingredient.name}}
                                        {%else%}
                                        {{ingredient.name}} |
                                        {%endif%} 
                                    {% endif %}
                                    {% endfor %})
                                </p>
                                <div class="card-footer bg-info text-white">
                                    <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <a href="more/{{snack.id}}/" type="button" class="btn btn-warning block">
                                            <i class="fa fa-plus" aria-hidden="true"></i> 
                                        Ingrediente</a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <button onclick="addOnShoppingCart('{{snack.id}}', '{{snack.name_snack}}', '{{snack.snack_img}}')" type="button" class="btn btn-success block">
                                        <i class="fa fa-plus" aria-hidden="true"></i> 
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>  
                                        Carrinho </button>
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

</script>
{% endblock %}