
#navbar_header{
    padding: 10px !important;
    background-color: rgb(255, 121, 73) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 25px !important;
    padding-left: 20% !important;
}
.img_logo{
    height: 100px !important;
    width: 200px !important;
}
#img_snack{
    height: 250px !important;
    width: 280px !important;
    /* margin-left: 20% !important; */
}
.navbar-collapse {
    margin-left: 7% !important;
}
.nav-item{
    padding: 10px !important;
}
#snacks_list{
    margin-top: 1% !important;
    padding: 40px !important;
}
#card_header{
    background-color: rgb(240, 100, 49) !important;;
}

.block {
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-bottom: 10px !important;
  }

  #snack_card{
      padding-bottom: 15px !important;
  }

  #myPanel{
      background-color: aqua;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.card-body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 20px !important;
}
.numberCircle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 4px;
    background: rgb(255, 255, 255) !important;
    border: 2px solid rgba(255,255,255,.5);
    color: #000;
    text-align: center;
    font: 16px Arial, sans-serif;
    font-style: bold !important;
    position: relative;
    margin-left: -8px;
    top: -18px;
  }
  #valueDesc{
      color: red;
  }
  #value{
      color: green;
  }
  #shopCardBody{
    height: 250px !important;
    
  }
  #CardBodySnacks{
    height: 140px !important;
  }